<ion-header>
  <ion-navbar>
    <ion-title>BLE Scanner</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="!scanDevices" (click)="start()">Start Scan</button>
      <button ion-button *ngIf="scanDevices" (click)="stop()">Stop Scan</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let device of devices">
    <ion-item>
      <ion-row>
        <ion-col>
          <b>{{ device.name || 'Unnamed' }}</b>
          <p>{{ device.id }}</p>
          <p>RSSI: {{ device.rssi }} dBm</p>
        </ion-col>

      <ion-buttons end>
        <button ion-button (click)="connect(device)">Connect</button>
      </ion-buttons>

      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>
